{% extends 'application_layouts/base_sidebar.html' %}

{% load static %}

<link rel="stylesheet" href="{% static 'styles/bootstrap.css' %}">
<link rel="stylesheet" href="{% static 'styles/g-style.css' %}">
<link rel="stylesheet" href="{% static 'styles/user-profile.css' %}">

{% block content %}

    <!-- Fluid Container -->
    <div class="container-fluid g-aside-has-aside">
    	<!-- Header with main buttons -->
            <div class="row g-header">
                <div class="col-sm-12">

                    <!-- Screen Name -->
                    <div class="pull-left g-navigation-text g-mobile-hide">
                        <h4>User profile: John Johnson</h4>
                    </div>

                    <div class="pull-right "> 

                        <!-- Primary Action Button -->
                        <div class="btn-group">
                            <a class="btn btn-primary g-ripple-effect" data-remote="true" href="{% url 'logout' %}">Log out</a>
                        </div>

                        <!-- User Avatar / Profile -->
                        <div class="btn-group">
                            <div class="dropdown">

                                <img class="g-header-avatar dropdown-toggle" src="{% static 'images/avatar.png' %}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1" style="left: -90px">
                                    <li>Pozycja 1</li>
                                    <li role="separator" class="divider"></li>
                                    <li>Pozycja 2</li>
                                </ul>
                            </div>
                        </div>
                    </div>                        
                </div>
            </div>

            <!-- Application Content -->
            <div class="g-application-content">    
                <!-- Card Row -->
                <div class="row">
                    <div class="col-md-12">            
                        <div class="container">
                            <div class="row profile">
                                <div class="col-md-3">
                                    <div class="profile-sidebar">
                                        <!-- SIDEBAR USERPIC -->
                                        <div class="profile-userpic">
                                            <img src="{% static 'images/avatar.png' %}" class="img-responsive" alt="">
                                        </div>

                                        <div class="profile-usertitle">
                                            <div class="profile-usertitle-name">
                                                Marcus Doe
                                            </div>
                                            <div class="profile-usertitle-job">
                                                Developer
                                            </div>
                                        </div>

                                        <div class="profile-userbuttons">
                                            <button type="button" class="btn btn-success btn-sm">Follow</button>
                                            <button type="button" class="btn btn-danger btn-sm">Message</button>
                                        </div>

                                        <div class="profile-usermenu">
                                            <ul class="nav">
                                                <li class="active">
                                                    <a href="#">
                                                    <i class="glyphicon glyphicon-home"></i>
                                                    Overview </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                    <i class="glyphicon glyphicon-user"></i>
                                                    Account Settings </a>
                                                </li>
                                                <li>
                                                    <a href="#" target="_blank">
                                                    <i class="glyphicon glyphicon-ok"></i>
                                                    Tasks </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                    <i class="glyphicon glyphicon-flag"></i>
                                                    Help </a>
                                                </li>
                                            </ul>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-md-9">
                                    <div class="profile-content">
                                       Some user related content goes here...
                                    </div>
                                </div>
    </div>
</div>

                    </div>
                </div>  
                <!-- / Card Row -->
           </div>

    </div>
{% endblock %}