{% extends 'application_layouts/base_sidebar.html' %}

{% load static %}

<link rel="stylesheet" href="{% static 'styles/bootstrap.css' %}">
<link rel="stylesheet" href="{% static 'styles/g-style.css' %}">
<link rel="stylesheet" href="{% static 'styles/user-profile.css' %}">

{% block content %}

    <!-- Fluid Container -->
    <div class="container-fluid g-aside-has-aside">
    	<!-- Header with main buttons -->
            <div class="row g-header">
                <div class="col-sm-12">

                    <!-- Screen Name -->
                    <div class="pull-left g-navigation-text g-mobile-hide">
                        <h4>User profile: John Johnson</h4>
                    </div>

                    <div class="pull-right "> 

                        <!-- Primary Action Button -->
                        <div class="btn-group">
                            <a class="btn btn-primary g-ripple-effect" data-remote="true" href="{% url 'logout' %}">Log out</a>
                        </div>

                        <!-- User Avatar / Profile -->
                        <div class="btn-group">
                            <div class="dropdown">

                                <img class="g-header-avatar dropdown-toggle" src="{% static 'images/avatar.png' %}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1" style="left: -90px">
                                    <li>Pozycja 1</li>
                                    <li role="separator" class="divider"></li>
                                    <li>Pozycja 2</li>
                                </ul>
                            </div>
                        </div>
                    </div>                        
                </div>
            </div>

            <!-- Application Content -->
            <div class="g-application-content">    
                <!-- Card Row -->
                <div class="row">
                    <div class="col-md-12">            
                        <div class="container">
                            <div class="row profile">
                                <div class="col-md-3">
                                    <div class="profile-sidebar">
                                        <!-- SIDEBAR USERPIC -->
                                        <div class="profile-userpic">
                                            <img src="{% static 'images/avatar.png' %}" class="img-responsive" alt="">
                                        </div>

                                        <div class="profile-usertitle">
                                            <div class="profile-usertitle-name">
                                                John Johnson
                                            </div>
                                            <div class="profile-usertitle-job">
                                                Batman
                                            </div>
                                        </div>

                                        <div class="profile-userbuttons">
                                            <button type="button" class="btn btn-success btn-sm">Follow</button>
                                            <button type="button" class="btn btn-danger btn-sm">Message</button>
                                        </div>

                                        <div class="profile-usermenu">
                                            <ul class="nav">
                                                <li class="active" id="overview">
                                                    <a href="#" onclick="return false;">
                                                    <i class="glyphicon glyphicon-home"></i>
                                                    Overview </a>
                                                </li>
                                                <li  id="settings">
                                                    <a href="#" onclick="return false;">
                                                    <i class="glyphicon glyphicon-user"></i>
                                                    Account Settings </a>
                                                </li>
                                                <li id="help">
                                                    <a href="#" onclick="return false;">
                                                    <i class="glyphicon glyphicon-flag"></i>
                                                    Help </a>
                                                </li>
                                            </ul>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-md-9">
                                    <div class="profile-content" id="overview_content">
                                       <div class="col-xs-12 col-sm-6 col-md-6">
                                                <div class="row">
                                                    <div class="col-sm-6 col-md-8">
                                                        <h4>
                                                            Bhaumik Patel</h4>
                                                        <small><cite title="San Francisco, USA">San Francisco, USA <i class="glyphicon glyphicon-map-marker">
                                                        </i></cite></small>
                                                        <p>
                                                            <i class="glyphicon glyphicon-envelope"></i>email@example.com
                                                            <br />
                                                            <i class="glyphicon glyphicon-globe"></i><a href="http://www.jquery2dotnet.com">www.jquery2dotnet.com</a>
                                                            <br />
                                                            <i class="glyphicon glyphicon-gift"></i>June 02, 1988</p>
                                                    </div>
                                                </div>
                                        </div>
                                    </div>
                                    <div class="profile-content" id="settings_content" style="display: none">
                                       Some settings stuff here
                                    </div>
                                    <div class="profile-content" id="help_content" style="display: none">
                                       Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque fringilla ante turpis, et tempor sapien dapibus id. Fusce sit amet nunc mi. 
                                       Cras semper sem id ante sodales, eu porta purus tempus. Praesent vulputate turpis efficitur dignissim efficitur. 
                                       Donec tempus nisl sem, vel tincidunt urna bibendum non. Donec sit amet fermentum mauris, sit amet tristique lacus. 
                                       Phasellus ornare neque sit amet erat euismod, eget tempus odio mattis. Morbi sapien tortor, tincidunt in ligula et, placerat elementum quam. 
                                       Curabitur sed malesuada enim, quis fringilla magna. Nam volutpat ultrices nibh. 
                                       Praesent feugiat, sapien vel ullamcorper facilisis, nisl nisl posuere sem, malesuada commodo mi turpis non ipsum. Integer non lacinia urna. 
                                       Donec sit amet sollicitudin augue. Praesent pellentesque quam nec ultrices lacinia. Pellentesque volutpat aliquam nibh non tincidunt. 
                                    </div>
                                </div>
    </div>
</div>

                    </div>
                </div>  
                <!-- / Card Row -->
           </div>

    </div>
{% endblock %}