{% load static %}

<!-- Load stylesheets -->
<link rel="stylesheet" href="{% static 'styles/bootstrap.css' %}">
<link rel="stylesheet" href="{% static 'styles/g-style.css' %}">
<link rel="stylesheet" href="{% static 'styles/user-profile.css' %}">

<script type="text/javascript" src="{% static 'js/jquery-3.2.1.js' %}"></script>
<script type="text/javascript" src="{% static 'js/user-profile.js' %}"></script>
<script type="text/javascript" src="{% static 'js/g-aside-expand.js' %}"></script>

<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Inżyniery</title>
  </head>

  <body>

  <!-- The sidebar -->
   <div class="g-aside">

      <!-- Position one -->
      <div class="g-aside-menu-position">
        <a class="g-aside-icon g-ripple-effect" href="/index">
          <img src="{% static 'images/home.png' %}"  alt="Day log">
        </a>
        <span class="btn btn-link">Home</span>    
      </div>

      <!-- Position two -->
      <div class="g-aside-menu-position">
        <a class="g-aside-icon g-ripple-effect" href="/profile">
            <img src="{% static 'images/user.png' %}"  alt="Day log">
        </a>
        <span class="btn btn-link">User profile</span>                
      </div>

      <!-- Position three -->
      <div class="g-aside-menu-position">
        <a class="g-aside-icon g-ripple-effect" href="">
          <img src="{% static 'images/ball.png' %}"  alt="Day log">
        </a> 
        <span class="btn btn-link">Predictions</span>                
      </div>

       <div class="g-aside-menu-position">
        <a class="g-aside-icon g-ripple-effect" href="/news">
          <img src="{% static 'images/twitter.png' %}"  alt="Day log">
        </a>
        <span class="btn btn-link">News</span>
      </div>

      <!-- Position the expand button -->
      <div id="g-aside-expand" class="g-aside-menu-position g-ripple-effect">
        <img class="g-aside-icon g-ripple-effect" src="{% static 'images/expand.png' %}" alt="Expand">
      </div>

        
    </div>

    {% block content %}
    {% endblock %}
    
  </body>
</html>
