{% extends 'application_layouts/base_sidebar.html' %}

{% load static %}
<link rel="stylesheet" href="{% static 'styles/twitter-news.css' %}">
<link rel="stylesheet" href="{% static 'styles/g-style.css' %}">

{% block content %}

    <!-- Fluid Container -->
    <div class="container-fluid g-aside-has-aside">
    	<!-- Header with main buttons -->
            <div class="row g-header">
                <div class="col-sm-12">

                    <!-- Screen Name -->
                    <div class="pull-left g-navigation-text g-mobile-hide">
                        <h4>Your personalized news</h4>
                    </div>

                    <div class="pull-right ">

                        <!-- Primary Action Button -->
                        <div class="btn-group">
                            <a class="btn btn-primary g-ripple-effect" data-remote="true" href="{% url 'logout' %}">Log out</a>
                        </div>

                        <!-- User Avatar / Profile -->
                        <div class="btn-group">
                            <div class="dropdown">

                                <img class="g-header-avatar dropdown-toggle" src="{% static 'images/avatar.png' %}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1" style="left: -90px">
                                    <li>Pozycja 1</li>
                                    <li role="separator" class="divider"></li>
                                    <li>Pozycja 2</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="tweets_news_content" style=" display:block; text-align:center;">

                <div class="timeline_window" style="width:420px; height:650px;display: inline; margin: 15px;">
                    <a class="twitter-timeline" data-width="400" data-height="600" data-theme="dark"
                       href="https://twitter.com/realmadrid"></a>
                    <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
                </div>
                <div class="timeline_window" style="width:420px;height:650px; display: inline; margin: 15px">
                    <a class="twitter-timeline" data-width="400" data-height="600" data-theme="dark"
                       href="https://twitter.com/mlfootball_test"></a>
                    <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
                </div>
                <div class="timeline_window" style="width:420px; height:650px;display: inline; margin: 15px">
                    <a class="twitter-timeline" data-width="400" data-height="600" data-theme="dark"
                       href="https://https://twitter.com/laczynaspilka"></a>
                    <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
                </div>

                <div class="timeline_window" style="width:420px;height:650px; display: inline; margin: 15px">
                    <a class="twitter-timeline" data-width="400" data-height="600" data-theme="dark"
                       href="https://https://twitter.com/laliga"></a>
                    <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
                </div>

                <div class="timeline_window" style="width:420px; height:650px;display: inline; margin: 15px">
                    <a class="twitter-timeline" data-width="400" data-height="600" data-theme="dark"
                       href="https://twitter.com/polsport"></a>
                    <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
                </div>

            </div>

    </div>
{% endblock %}